In [25]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import requests
from zipfile import ZipFile
import glob
import os
import xmltodict
import json

pd.options.display.max_columns = 30

url = "https://donnees.roulez-eco.fr/opendata/jour"

In [2]:
def get_daily_data(url):
    """
    Get daily fuel data from url
    """
    response = requests.get(url)
    open("jour.zip", "wb").write(response.content)

    with ZipFile("jour.zip", "r") as zip:
        zip.extractall()
        
    filename = glob.glob("*.xml")
    os.rename(filename[0], "src/data.xml")
    os.remove("jour.zip")

In [3]:
get_daily_data(url)

In [4]:
with open("src/data.xml", "r+", encoding="ISO-8859-1") as f:
    xml = f.read()
    obj = xmltodict.parse(xml)
    json_string = json.dumps(obj, indent=4)
    # json_string = replace_special_characters(json_string)
    json_data = json.loads(json_string)

In [5]:
with open("src/data.json", "w", encoding="ISO-8859-1") as f:
    f.write(json_string)

In [19]:
data_list = json_data['pdv_liste']['pdv']

In [23]:
df = pd.json_normalize(data_list)

In [27]:
df.head()

,@id,@latitude,@longitude,@cp,@pop,adresse,ville,prix,rupture,services.service,horaires.@automate-24-24,horaires.jour,rupture.@id,rupture.@nom,rupture.@debut,rupture.@fin,services,fermeture.@type,fermeture.@debut,fermeture.@fin,prix.@nom,prix.@id,prix.@maj,prix.@valeur,fermeture
0,1000001,4620114,519791,01000,R,596 AVENUE DE TREVOUX,SAINT-DENIS-LèS-BOURG,"[{'@nom': 'Gazole', '@id': '1', '@maj': '2022-...","[{'@id': '3', '@nom': 'E85', '@debut': '2017-0...","[Station de gonflage, Vente de gaz domestique ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000002,4621842,522767,01000,R,16 Avenue de Marboz,BOURG-EN-BRESSE,"[{'@nom': 'Gazole', '@id': '1', '@maj': '2022-...","[{'@id': '3', '@nom': 'E85', '@debut': '2017-0...","[Vente de gaz domestique (Butane, Propane), DA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000004,4618800,524500,01000,R,20 Avenue du Maréchal Juin,Bourg-en-Bresse,"[{'@nom': 'Gazole', '@id': '1', '@maj': '2022-...","[{'@id': '5', '@nom': 'E10', '@debut': '2018-0...","[Toilettes publiques, Relais colis, Boutique a...",1,"[{'@id': '1', '@nom': 'Lundi', '@ferme': '', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000005,4620093.59235,519942.024022,01000,R,642 Avenue de Trévoux,SAINT-DENIS-LèS-BOURG,NaN,NaN,"[Boutique alimentaire, Boutique non alimentair...",NaN,NaN,2,SP95,2011-06-01T00:00:00,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000006,4620754,523758,01000,R,1 Boulevard John Kennedy,BOURG-EN-BRESSE,NaN,"[{'@id': '3', '@nom': 'E85', '@debut': '2017-0...","Vente de gaz domestique (Butane, Propane)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN